#projects {
    @apply h-full flex flex-col justify-start;
}

#projects-title {
    font-size: 50pt;
    letter-spacing: 20pt;
    @apply h-full mx-auto;
}

.project-card-container {
    background: #009757;
    @apply relative h-min w-[60vw] md:w-[40vw] p-3 md:pt-10 mt-10;

    p {
        font-size: calc(1vw + 1rem);
    }

    .project-card-container-tail {
        transition: all 100ms linear;
        background: #009757;
        @apply h-full w-[200%] absolute left-[-100%] top-0 -z-10;
        pointer-events: none;
    }
}

.project-card-container:hover .project-card-container-tail {
    width: 250%;
    border-radius: 0 150px 150px 0;
}
