@tailwind base;
@tailwind components;
@tailwind utilities;

/* All other .scss files go in here */
@import "homepage";
@import "about-me";

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #1a1a1a;
    @apply flex flex-col min-h-screen text-white;
}

header {
    @apply bg-black shadow;
}

footer {
    @apply fixed right-0 bottom-0 p-4;

    div {
        @apply text-right;
    }
}

main {
    @apply flex flex-grow;
}

section {
    @apply my-8;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.my-socials-button {
    img {
        transition: all 100ms ease-in-out;
        width: 45px;
        margin: 5px;

        transform: scale(1);
    }

    img:hover{
        transform: scale(1.2);
    }
}
